In [1]:
import numpy as np
import pandas as pd

import os
pd.set_option('display.max_rows', 10)

In [2]:
data_path = os.path.join('Data','input.txt')
data = pd.read_table(data_path)
data = data.T.reset_index().T.reset_index(drop = True)
data.rename(columns={0:'inputs'},inplace = True)
data['hands'] = data['inputs'].apply(lambda imputs:  )
data

        inputs
0    77776 507
1    26J35 214
2    9999Q 314
3    3JKQK 630
4     AA77K 94
..         ...
995  Q6J83 412
996  8822J 578
997  A555A 256
998  T9643 374
999  77787 364

[1000 rows x 1 columns]

In [3]:
import sys
sys.path.append(os.pardir)
from src.HelperFunctions import convert_to_py

convert_to_py('7')

[NbConvertApp] Converting notebook 7.ipynb to script
[NbConvertApp] Writing 0 bytes to 7_raw.txt